/*********************************************************TAG SELECTORS*********************************************************/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.uncolored-section {
    background-color: white;
}

/* Naslovna */

#title {
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 14%;
}

.naslovna {
    position: relative;
}

.iphone {
    width: 60%;
    transform: rotate(25deg);
    margin-top: 1.5rem;
    position: absolute;

}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 4.5rem;
    font-size: 1.3rem;
    width: 90%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}

.nav-item {
    padding-left: 40px;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 400;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

@media (max-width: 991px) {
    .iphone {
        position: static;
        transform: rotate(0deg);
    }

    #title {
        text-align: center;
    }
}

/* Features mid section*/

#features {
    padding: 5% 7%;

    position: relative;

}

.feature-title {
    font-weight: 800;
    font-size: 1.5rem;
}

.container-mid {
    padding: 3% 15%;
}

.mid-col {
    margin: 4rem auto;
}

.discription {
    width: 60%;
    margin: auto;
    color: #696969;
}

.iconFeatures {
    font-size: 5rem;
    color: #ef8172;
    margin-bottom: 1.2rem;
}

.iconFeatures:hover {
    color: #ff4c68;
}

/* Testimonials */


#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-weight: 800;
    font-size: 3rem;
    padding: 0 10%;
}

.testimonial-image {
    width: 8%;
    border-radius: 100%;
    margin: 25px;
}

.carousel-inner {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 11%;
    margin: 20px 20px 50px;
}

/* Pricing */


#pricing {
    padding: 10% 15%;
}

.pricing-heading {
    font-weight: 800;
    font-size: 3rem;
}

.card-title {
    font-weight: 800;
    font-size: 1.5rem;
}

.price-col {
    padding: 3% 2%;
}

.correcton-paragraph {
    height: 24px;
}

.btn-plan {
    width: 100%;
}

/* Call to action */


#cta {
    padding: 8% 20%;
}

.foot-heading {
    padding: 0 5%;
}

.download-btn-foot {
    margin: 3.5% 1.5% 0;
}

/* Footer */


#footer {
    padding: 8% 20% 0.5%;
}

.iconFoot {
    margin: 2% 1%;
}
